body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.canvasContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 10px solid grey;
  border-radius: 2%;
  width: 805px;
  height: 422px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.pixel {
  height: 10px;
  width: 10px;
  border: 1px solid grey;
}
.colorContainer {
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.paletteContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 60px solid grey;
  width: 705px;
  background-color: grey;
  border-radius: 2%;
  margin-top: -10px;
  z-index: 1;
}
.red{ 
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.pink {
  background-color: pink;
}

.limegreen {
  background-color: limegreen;
}

.orange {
  background-color: orange;
}




